body {
  font-family: "VT323", sans-serif;
}

.top-bar {
  display: flex;
  flex-direction: row;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 180px;
  margin-left: 30px;
}

.game-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.notepad h2 {
  border-bottom: 2px solid red;
}

.opponent-board h2 {
  border-bottom: 2px solid blue;
}

p:hover {
  color: red;
}

.square {
  height: 40px;
  width: 40px;
  background-image: url("images/square.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  margin: 3px;
  cursor: pointer;
}

.selected-square {
  color: blue;
}

.square-letter {
  align-self: center;
  font-size: 24px;
  user-select: none;
}

.square:hover .square-letter {
  color: green;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 184px;
  height: 184px;
}

.delete-word {
  margin-left: 5px;
  color: darkgray;
}

.delete-word:hover {
  color: red;
}

.listed-player {
  border-bottom: 1px solid transparent;
}

.listed-player:hover {
  border-bottom: 1px solid turquoise;
}

.listed-player:hover .invite {
  opacity: 1;
}

.invite {
  opacity: 0;
  color: gray;
}

.invite:hover {
  color: turquoise;
}
